@using WebMaze.Models.Bus


<div class="row">
    <div class="col-md-2">
        <a class="nav-link text-dark" href="/Bus/Index">Switch to user view</a>
    </div>
    <div class="col-md-2">    
        <a class="nav-link text-dark" href="/Bus/ManageBus">Manage bus</a>
    </div>
    <div class="col-md-2">
        <a class="nav-link text-dark" href="/Bus/OrderBus">Order bus</a>
    </div>
    <div class="col-md-2">
        <a class="nav-link text-dark" href="/Bus/ManageBusWorker">ManageWorker</a>
    </div>
    <div class="col-md-2"> 
        <a class="nav-link text-dark" href="/Bus/ManageRouteTime">ManageRouteTime</a>
    </div>
    <div class="col-md-2">    
        <a class="nav-link text-dark" href="/Bus/CreateRoute">CreateRoute</a>
    </div>
</div>